:root {
  --primary: #0b7974;
  --bg-light: #f2f5f5cb;
  --bg-dark: #121416;
  --paypal-yellow: #ffc439;
  --paypal-blue: #0070ba;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  background: var(--bg-light);
  color: #111;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 700;
  color: var(--primary);
  
  cursor: pointer;
}

.logo img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.15));
}

/* Navbar */
.navbar {
  background: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar nav a {
  color: var(--primary);
  margin-left: 20px;
  text-decoration: none;
}

.navbar nav a.active {
  font-weight: bold;
  color: var(--primary);
}

.container {
  max-width: 800px;
  margin: 30px auto;
}

h1 {
  margin-bottom: 10px;
}

.subtitle {
  margin-bottom: 20px;
  color: #555;
}

.orders-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.order-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.order-info h3 {
  font-size: 16px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.status {
  font-size: 12px;
  font-weight: bold;
  padding: 3px 6px;
  border-radius: 4px;
  color: white;
}

.paid-label {
  background-color: #3fc07c;
}

.shipped-label {
  background-color: #4d8fff;
}

.cancelled-label {
  background-color: #ff5c5c;
}

.order-info p {
  font-size: 14px;
  color: #666;
}

.order-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.total-revenue {
  font-weight: bold;
  color: #027d69;
}

.return-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #027d69;
  color: white;
  transition: 0.3s;
}

.return-btn:hover:enabled {
  background-color: #025e50;
}

.return-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

footer {
  text-align: center;
  margin: 50px 0 20px;
  font-size: 14px;
  color: #888;
}
