:root {
  --primary: #0b7974;
  --bg-light: #f2f5f5cb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  background: var(--bg-light);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 700;
  color: var(--primary);

  cursor: pointer;
}

.logo img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.15));
}

/* Navbar */
.navbar {
  background: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar nav a {
  color: var(--primary);
  margin-left: 20px;
  text-decoration: none;
}

nav a.active {
  font-weight: bold;
  color: var(--primary);
}

/* Main */
.container {
  max-width: 1100px;
  margin: 40px auto;
}

.subtitle {
  color: #6b7280;
  margin: 10px 0 30px;
}

/* Products */
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  background: white;
  padding: 18px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.05);
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: contain;
}

.price {
  display: block;
  margin: 10px 0;
  font-weight: bold;
  color: var(--primary);
}

/* Buttons */
.actions {
  display: flex;
  gap: 10px;
}

.add-btn,
.remove-btn {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.add-btn {
  background: var(--primary);
  color: white;
  margin-right: 10px;
}

.remove-btn {
  background: #fee2e2;
  color: #991b1b;
}

.added {
  background: #d1fae5 !important;
  color: #065f46 !important;
  cursor: not-allowed;
}

/* Footer Summary */
.summary {
  background: white;
  padding: 25px 40px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
