/* =====================
    Categories Table
===================== */
.category-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.category-table th {
    background: #0b7974;
    color: #fff;
    padding: 12px;
    text-align: center;
}

.category-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.category-table tr:last-child td {
    border-bottom: none;
}

/* =====================
    Actions Buttons
===================== */
.actions {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.edit-btn,
.delete-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 5px;
}
.edit-btn img,
.delete-btn img {
    width: 20px;
    height: 20px;
}

.edit-btn:hover img {
    transform: scale(1.1);
}

.delete-btn:hover img {
    transform: scale(1.1);
}


/* =====================
    Modal (Add / Delete)
===================== */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-content {
    background: #fff;
    width: 360px;
    padding: 20px;
    border-radius: 12px;
    color: #0b7974;
}

.modal-content h3 {
    margin-bottom: 10px;
}

.modal-content input,
.modal-content textarea {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.modal-content textarea {
    resize: none;
    height: 80px;
}

/* =====================
    Modal Actions
===================== */
.modal-actions {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.modal-actions button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* Buttons */
#saveCategory {
    background: #0b7974;
    color: #fff;
}

#cancelCategory {
    background: #6c757d;
    color: #fff;
}

.danger {
    background: #dc3545;
    color: #fff;
}

/* Error */
.error {
    color: red;
    font-size: 12px;
}
