/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: #000000;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    color: #0b7974;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    z-index: 1000;
}

.navbar .user-info {
    display: flex;
    gap: 20px;
}

.navbar .user-info .userName span {
    font-weight: bold;
    font-size: 14px;
}

.navbar .user-info .userType span {
    font-size: 12px;
    background-color: #0b7974;
    color: #ffffff;
    padding: 4px 10px;
    border-radius: 4px;
}

.navbar .logo img {
    width: 80px;
    height: 30px;
}

/* Container */
.container {
    display: flex;
    margin-top: 70px;
    height: calc(100vh - 70px);
}

/* Sidebar */
.sidebar {
    width: 220px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    color: #0b7974;
    box-shadow: 3px 0 8px rgba(0, 0, 0, 0.2);
    font-size: 14px;
}

/* Menu */
.sidebar .menu {
    list-style: none;
    padding: 10px 10px;
}

.sidebar .menu li {
    margin: 20px 0;
}

.menu a {
    color: #0b7974;
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}

.menu-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}


.sidebar .menu a:hover,
.sidebar .menu a.active {
    background-color: #0b797477;
    color: #ffffff;
    border: 2px solid #0b7974;
}


/* Sign Out */
.sidebar .signout {
    padding: 0 20px;
}

.sidebar .signout button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0b7974;
    color: #ffffff;
    cursor: pointer;
}

.sidebar .signout button:hover {
    background-color: red;
}



/* Main Content */
.main-content {
    flex: 1;
    padding: 30px 40px;
    background-color: #e2ebebc6;
    overflow-y: auto;
}

.main-content .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.main-content .header h1 {
    font-size: 28px;
    color: #000000;
    margin-bottom: 5px;
}

.main-content .header p {
    margin: 0;
    font-size: 16px;
    color: #0b7974;
}

.main-content .header button {
    padding: 10px 15px;
    background-color: #0b7974;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.main-content .header button:hover {
    background-color: #0a6765;
}

.stats-cards {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.stats-cards .card {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.stats-cards .card img {
    width: 35px;
}

.stats-cards .card h3 {
    font-size: 16px;
    color: #0b7974;
}

.stats-cards .card p {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}


.orders-table {
    margin-top: 50px;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#viewMoreBtn {
    color: #0b7974;

}

#viewMoreBtn:hover {
    color: #095d5b;
    text-decoration: underline;
}


.orders-table h3 {
    color: #000000;
    margin-bottom: 15px;
}

.orders-table table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
}

.orders-table th,
.orders-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.orders-table th {
    background-color: #0b7974;
    color: #ffffff;
}

.orders-table button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin-right: 5px;
}

.orders-table .confirm {
    background-color: #0b7974;
    color: #ffffff;
}

.orders-table .confirm:hover {
    background-color: #095d5b;
}

.orders-table .reject {
    background-color: darkred;
    color: #ffffff;
}

.orders-table .reject:hover {
    background-color: red;
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* صندوق البوباب */
.popup-content {
    background: #ffffff;
    padding: 25px 20px;
    border-radius: 12px;
    width: 340px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    animation: popupFade 0.3s ease;
    text-align: center;
}

/* النص */
.popup-content p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #333;
}

/* input سبب الرفض */
.popup-content textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-bottom: 15px;
    outline: none;
}

.popup-content input:focus {
    border-color: #0b7974;
}

/* الأزرار */
.actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.actions button {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

/* زر OK */
#okBtn {
    background: #0b7974;
    color: #fff;
}

#okBtn:hover {
    background: #0a6765;
}

/* زر Cancel */
.actions button:last-child {
    background: #dc3545;
    color: #fff;
}

.actions button:last-child:hover {
    background: #c82333;
}