/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: #000000;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    color: #0b7974;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    z-index: 1000;
}

.navbar .user-info {
    display: flex;
    gap: 20px;
}

.navbar .user-info .userName span {
    font-weight: bold;
    font-size: 14px;
}

.navbar .user-info .userType span {
    font-size: 12px;
    background-color: #0b7974;
    color: #ffffff;
    padding: 4px 10px;
    border-radius: 4px;
}

.navbar .logo img {
    width: 100%;
    height: 40px;
}

/* Container */
.container {
    display: flex;
    margin-top: 70px;
    height: calc(100vh - 70px);
}

/* Sidebar */
.sidebar {
    width: 240px;
    background: #ffffff;
    border-right: 1px solid #e6e6e6;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu {
    list-style: none;
    padding: 20px 0;
    margin: 0;
}

.menu li {
    margin-bottom: 5px;
}
.menu a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 20px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    transition: 0.3s;
}

.menu a:hover {
    background: #f2f7f7;
    color: #0b7974;
}

.menu a.active {
    background: #e6f3f2;
    color: #0b7974;
    font-weight: 600;
    border-right: 4px solid #0b7974;
}

.menu-icon {
    width: 18px;
    height: 18px;
}

/* Sign out */
.signout {
    padding: 20px;
}

.signout button {
    width: 100%;
    padding: 10px;
    background: #dc3545;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.signout button:hover {
    background: #b52a37;
}




/* Main Content*/

.main-content {
    flex: 1;
    padding: 30px 40px;
    background-color: #e2ebebc6;
    overflow-y: auto;
}

.main-content .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.main-content .header h1 {
    font-size: 28px;
    color: #000000;
    margin-bottom: 5px;
}

.main-content .header p {
    margin: 0;
    font-size: 16px;
    color: #0b7974;
}

.main-content .header button {
    padding: 10px 15px;
    background-color: #0b7974;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.main-content .header button:hover {
    background-color: #0a6765;
}

.stats-cards {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.stats-cards .card {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.stats-cards .card img {
    width: 35px;
}

.stats-cards .card h3 {
    font-size: 16px;
    color: #0b7974;
}

.stats-cards .card p {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}


