:root {
  --primary: #0b7974;
  --bg-light: #f2f5f5cb;
  --bg-dark: #121416;
  --paypal-yellow: #ffc439;
  --paypal-blue: #0070ba;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
  background: var(--bg-light);
  color: #111;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 700;
  color: var(--primary);

  cursor: pointer;
}

.logo img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.15));
}


/* NAVBAR */
.navbar {
  display: flex;
  /* center content horizontally */
  justify-content: space-between; 
  align-items: center;
  height: 70px;
  background: #fff;
}

/* nav-left layout */
.nav-left {
  display: flex;
  align-items: center;
  margin-left: 40px;
  gap: 40px;
}

.logo {
  font-weight: 700;
  font-size: 18px;
}

.navbar nav a {
  color: var(--primary);
  margin-left: 20px;
  text-decoration: none;
}

nav a.active {
  font-weight: bold;
  color: var(--primary);
}

.icon {
  position: relative;
  font-size: 20px;
}

.badge {
  position: absolute;
  top: -5px;
  right: -8px;
  background: #0f766e;
  color: #fff;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 50%;
}

/* BREADCRUMB */
.breadcrumb {
  padding: 25px 40px;
  color: #777;
}

/* MAIN */
.container {
  display: flex;
  gap: 30px;
  padding: 0 40px;
}

.cart-section {
  flex: 3;
}

.cart-section h1 {
  font-size: 32px;
}

.subtitle {
  margin: 8px 0 25px;
  color: #666;
}

.cart-item {
  background: #fff;
  border-radius: 14px;
  padding: 20px;
  display: grid;
  grid-template-columns: 90px 1fr auto auto;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.cart-item img {
  width: 80px;
  border-radius: 10px;
}

.item-info p {
  color: #666;
  font-size: 14px;
}

.qty {
  margin-top: 10px;
}

.qty button {
  padding: 4px 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: none;
}

.price {
  font-weight: 600;
}

.remove {
  color: red;
  font-size: 14px;
  cursor: pointer;
}

.gift {
  display: block;
  margin-top: 15px;
}

/* SUMMARY */
.summary {
  flex: 1;
  background: #fff;
  border-radius: 16px;
  padding: 25px;
}

.summary h2 {
  margin-bottom: 20px;
}

.row,
.total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.green {
  color: #0f766e;
}

.total {
  font-size: 22px;
  font-weight: 700;
}

.checkout {
  width: 100%;
  background: #0f766e;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 30px;
  margin: 20px 0;
}

.express {
  text-align: center;
  color: #999;
  font-size: 12px;
}

.paypal {
  width: 100%;
  background: #ffc439;
  border: none;
  padding: 12px;
  border-radius: 30px;
  margin-top: 10px;
}

.trust {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 12px;
  color: #777;
}

/* RECOMMEND */
.recommend {
  padding: 60px 40px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.card {
  background: #fff;
  border-radius: 18px;
  padding: 15px;
}

.card img {
  width: 100%;
  border-radius: 14px;
}

/* FOOTER */
footer {
  background: #fff;
  padding: 50px 40px 30px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer-grid h4 {
  margin-bottom: 10px;
}

.footer-grid a {
  display: block;
  color: #666;
  margin-bottom: 6px;
}

.newsletter {
  display: flex;
  gap: 10px;
}

.newsletter input {
  flex: 1;
  padding: 10px;
  border-radius: 15px;
}

.newsletter button {
  background: #0f766e;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 20px;
}

copyright {
  text-align: center;
  color: #777;
  margin-top: 40px;
}
